<mat-card>
  <div class="inner-content">
  <div class="row">
    <div class="col-md-12">
      <h2>Apply for a Postgraduate Program</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="inner-content">


        <div class="row">
          <div class="col-md-12">
            <h3>Welcome!</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Welcome to Master's and MBA online Applications portal.</p>
          </div>
        </div>


        <h3>Instructions for the Applicant</h3>
        <div class="row">
          <div class="col-md-12"><h4>Instructions to create a New Application for a Postgraduate Program</h4>
            <ul>
              <li><p>Click <a href="/jMScApplication/masters">Postgraduate Programs</a> to see available Postgraduate
                Programs.</p></li>
              <li><p>Select one to submit an <b>Application for a Postgraduate Program</b>.</p></li>
              <li><p>In the Form <b>Application for a Postgraduate Program</b> fill in your details.</p></li>
              <li><p>In the <b>Preview Application</b> section you can see an Overview of your <b>Application for a
                Postgraduate Program</b>.</p></li>
              <li><p>In the <b>Preview Application</b> section click <b>Submit Application</b> to submit your <b>Application
                for a Postgraduate Program</b>.</p></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><h4>General Instructions of Applications for a Postgraduate Program</h4>
            <ul>
              <li><p>Click <a href="/jMScApplication/applications/myapplications">My Applications</a> to see a list of
                your Applications for a Postgraduate Programs and their status.</p></li>
              <li><p>From the <b>Actions</b> Column:</p>
                <ul>
                  <li>Click on <a href="#" class="btn btn-success" title="Edit"><span
                    class="glyphicon glyphicon-pencil"></span></a> to Edit your <b>Application for a Postgraduate
                    Program</b>.
                  </li>
                  <li>Click on <a href="#" class="btn btn-primary" title="View"><span
                    class="glyphicon glyphicon-eye-open"></span></a> to View your <b>Application for a Postgraduate
                    Program</b>.
                  </li>
                  <li>Click on <a href="#" class="btn btn-primary" title="Submit"><span
                    class="glyphicon glyphicon-save"></span></a> to see an Overview of your <b>Application for a
                    Postgraduate Program</b> and <b>Submit</b> it.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</mat-card>
